@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*,
*:before,
*:after {
  box-sizing: border-box;
}
#upper-navbar-brand {
  font-weight: 900;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  padding: 0;
}
button {
  border: none;
}
.fa-map,
.fa-at,
.fa-phone-alt {
  background-color: #fff;
  color: blue;
  padding: 20px;
  border-radius: 50%;
}
.fa-bars {
  color: blue;
  margin-left: -10px;
}
.navbar-toggler {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 400;
}
.menu {
  font-weight: 700;
  padding-left: 10px;
  padding-bottom: 3px;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
.nav-card1,
.nav-card2,
.nav-card3 {
  font-size: 14px;
  font-family: 'Lora', sans-serif;
  line-height: 1.2;
  letter-spacing: 2px;
  text-align: justify;
  padding: 1rem;
}
.nav-card1 {
  width: 400px;
}
.nav-card2 {
  width: 350px;
}
.nav-card3 {
  width: 300px;
}
.bottom-navbar {
  background-color: white;
}
.navbar-nav {
  margin-left: 0;
}
#navbarText .nav-link {
  border-bottom: 2px solid white;
}
#navbarText .nav-item.activated {
  font-size: 1.3rem;
  border-bottom: 2px solid blue;
}
#navbarText span {
  font-weight: 500;
}
.carousel-inner .carousel-item {
  height: 600px;
  width: 100%;
}
.carousel-inner #img1 {
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url('/img/image3.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.carousel-inner #img2 {
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url('/img/image4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
#nav2 .btn {
  margin-top: 1rem;
}
#carousel .carousel-item h1 {
  font-weight: 800;
  word-spacing: 7px;
  line-height: 1.3;
  margin-left: 3rem;
  word-spacing: 2;
}
#carousel .carousel-item p {
  font-size: 1.2rem;
  font-weight: 200;
  margin-left: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.8;
  opacity: 1;
}
#home-features .container .row {
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 0.5rem;
}
#home-features .container .row .col-md {
  padding: 2rem;
  background-color: #2f89fc;
  color: white;
  text-align: center;
}
#home-features .container .row .col-alter {
  background-color: #227bf0;
}
#home-features .container .row .col-md h2,
#home-features .container .row .col-alter h2 {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
}
#home-features .container .row .col-md p,
#home-features .container .row .col-alter p {
  font-size: 1rem;
  font-weight: 200;
  margin-left: 3rem;
  line-height: 1.8;
  opacity: 80%;
}
.fa-user-md,
.fa-ambulance,
.fa-stethoscope,
.fa-business-time {
  background-color: rgb(255, 255, 255);
  font-size: 2rem;
  padding: 1.5rem;
  color: rgb(67, 114, 214);
  border-radius: 50%;
}

@media (max-width: 992px) {
  .navbar-nav {
    margin-left: 0;
  }
  #navbarText .nav-link {
    font-weight: 700;
    font-size: 1.2rem;
  }
  #navbarText .nav-item.activated {
    border-bottom: 2px solid white;
  }
  #nav2 span {
    display: flex;
  }
  #nav2 .btn {
    margin-top: 4px;
  }
  #carousel .carousel-item h1,
  #carousel .carousel-item p {
    text-align: center;
    margin-left: 0;
  }
  #home-features .container .row {
    flex-wrap: wrap;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
  }
}
